<!DOCTYPE html>
<html>
<head>
	<title style="text-align: center">Eat Da Burger!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/css/style.css" type="text/css">
</head>
<body>
	{{{ body }}}
</body>
</html>